name: ci

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore SlackRag.sln

      - name: Build
        run: dotnet build SlackRag.sln -c Release --no-restore

      - name: Test
        run: dotnet test SlackRag.sln -c Release --no-build
